<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户管理</title>
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <style>
		.main{margin-top: 25px;}
		form{display:inline-block;}
		.layui-body{overflow-y: scroll;}
		#page{text-align:center;}
	</style>
</head>
<body>
	<div class='layui-fluid main'>
		<a class="layui-btn layui-btn-sm" href='__ROOT__/index.php/Home/Power/addUser.html'>
	    	<i class="layui-icon">&#xe654;</i>增加用户
	  	</a>
		<blockquote class="layui-elem-quote layui-quote-nm">
			<form name="myForm" class="layui-form" action="" >
		      	<input type="radio" name="role_id" value="全部" title="全部" checked lay-filter="a">
		      	<input type="radio" name="role_id" value="6" title="学生" lay-filter="a">
		      	<input type="radio" name="role_id" value="5" title="老师" lay-filter="a">
		      	<input type="radio" name="role_id" value="1" title="管理员" lay-filter="a">
		  		<div class="layui-input-inline">
	                <input id="username" type="text" name="username" lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
	            </div>
				<button class="layui-btn" lay-submit="" lay-filter="search">搜索</button>
		    </form>
		</blockquote>
		<table class="layui-table" lay-data="{url:'__ROOT__/index.php/Api/User/getUserList',page:true,limit:15, id:'userList'}" lay-filter="userList">
		  	<thead>
			    <tr>
			      	<th lay-data="{field:'user_id', width:80, sort: true,fixed: 'left'}">用户ID</th>
			      	<th lay-data="{field:'account', width:220, sort: true}">账号</th>
					<th lay-data="{field:'phone', width:220, sort: true, edit: 'text'}">联系电话</th>
			      	<th lay-data="{field:'name'}">姓名</th>
					<th lay-data="{field:'role_id'}">角色ID</th>
			      	<th lay-data="{field:'role_name'}">角色</th>
			      	<th lay-data="{field:'create_time'}">创建时间</th>
			      	<th lay-data="{field:'status'}">状态</th>
					<th lay-data="{fixed: 'right', align:'center', toolbar: '#edit'}">操作</th>
			    </tr>
		  	</thead>
		</table>
		<script type="text/html" id="edit">
			{{#  if(d.role_id == 5){ }}
				<a href="__ROOT__/Home/Baseinfo/bindCourse.html?user_id={{d.user_id}}&name={{d.name}}" class="layui-btn layui-btn-xs">编辑</a>
			{{#  } else if(d.role_id == 6) { }}
				<a href="__ROOT__/Home/Baseinfo/bindClass.html?user_id={{d.user_id}}&name={{d.name}}" class="layui-btn layui-btn-xs">编辑</a>
			{{#  } else { }}

			{{#  } }}
		</script>
	</div>
	<script src="__PUBLIC__/Home/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/layui/layui.js"></script>
	<script>
		layui.use(['form','table'], function(){
			var table = layui.table,
				$ = layui.$,
				form = layui.form;

            form.on('radio(a)', function(data){
                table.reload('userList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
						role_id: data.value
                    }
                });
            });
            form.on('submit(search)', function(data){
                table.reload('userList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name: data.field.username
                    }
                });
                return false;
            });
		});
	</script>
</body>
</html>