<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>年级管理</title>
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" media="all">
</head>
<body>
	<div class="demoTable main">
	  	<a class="layui-btn layui-btn-sm" href='__ROOT__/Home/Baseinfo/addGrade.html'>
	    	<i class="layui-icon">&#xe654;</i>增加年级
	  	</a>
	  	<div class="layui-inline">
	    	<input class="layui-input" name="id" id="searchInput" placeholder="请输入ID" autocomplete="off">
	  	</div>
	  	<button class="layui-btn" data-type="reload">搜索</button>

		<table class="layui-table" lay-data="{url:'__ROOT__/Api/Baseinfo/getGradeList',page:true,limit:15, id:'roleList'}" lay-filter="roleList">
			<thead>
				<tr>
					<th lay-data="{field:'grade_id', sort: true}">ID</th>
					<th lay-data="{field:'grade_name',  sort: true, edit: 'text'}">年级名称</th>
					<th lay-data="{field:'status', sort: true, templet: '#status', unresize: true}">状态</th>
				</tr>
			</thead>
		</table>
		<script type="text/html" id="status">
			<!-- 这里的 checked 的状态只是演示 -->
			<input type="checkbox" name="status" value="{{d.role_id}}" title="删除" lay-filter="status" {{ d.status == 0 ? 'checked' : '' }}>
		</script>
	</div>
	<script src="__PUBLIC__/layui/layui.js"></script>
	<script>
		layui.use(['form','table'], function(){
			var table = layui.table
				,form = layui.form;

		});
	</script>
</body>
</html>